@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
      box-sizing: border-box;
}

.founderCard {
      max-width: 340px;
      min-width: 280px;
      margin: auto;
      overflow-y: auto;
      position: relative;
      z-index: 1;
      overflow-x: hidden;
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      transition: 0.3s;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
      opacity: .9;
}

.founderCard {
      height: 520px;
}

.founderCard .founderCard-main {
      padding-top: 0;
}

.founderCard.is-active .founderCard-header {
      height: 80px;
}

.founderCard.is-active .founderCard-cover {
      height: 100px;
      top: -50px;
}

.founderCard.is-active .founderCard-avatar {
      transform: none;
      left: 20px;
      width: 50px;
      height: 50px;
      bottom: 10px;
}

.founderCard.is-active .founderCard-fullname,
.founderCard.is-active .founderCard-jobtitle {
      left: 86px;
      transform: none;
}

.founderCard.is-active .founderCard-fullname {
      bottom: 18px;
      font-size: 19px;
}

.founderCard.is-active .founderCard-jobtitle {
      bottom: 16px;
      letter-spacing: 1px;
      font-size: 10px;
}

.founderCard-header {
      position: relative;
      display: flex;
      height: 200px;
      flex-shrink: 0;
      width: 100%;
      transition: 0.3s;
}

.founderCard-header * {
      transition: 0.3s;
}

.founderCard-cover {
      width: 100%;
      height: 100%;
      position: absolute;
      height: 160px;
      top: -20%;
      left: 0;
      will-change: top;
      background-size: cover;
      background-position: center;
      filter: blur(30px);
      transform: scale(1.2);
      transition: 0.5s;
}

.founderCard-avatar {
      width: 100px;
      height: 100px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-64px);
}

.founderCard-fullname {
      position: absolute;
      bottom: 0;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      transform: translateY(-10px) translateX(-50%);
      left: 50%;
}

.founderCard-jobtitle {
      position: absolute;
      bottom: 0;
      font-size: 11px;
      white-space: nowrap;
      font-weight: 500;
      opacity: 0.7;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-7px);
}

.founderCard-main {
      position: relative;
      flex: 1;
      display: flex;
      padding-top: 10px;
      flex-direction: column;
}

.founderCard-subtitle {
      font-weight: 700;
      font-size: 13px;
      margin-bottom: 8px;
}

.founderCard-content {
      padding: 20px;
}

.founderCard-desc {
      line-height: 1.6;
      color: #636b6f;
      font-size: 14px;
      margin: 0;
      font-weight: 400;
      font-family: "DM Sans", sans-serif;
}

.founderCard-social {
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 30px;
}

.founderCard-social svg {
      fill: #a5b5ce;
      width: 16px;
      display: block;
      transition: 0.3s;
}

.founderCard-social a {
      color: #8797a1;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      background-color: rgba(93, 133, 193, 0.05);
      border-radius: 50%;
      margin-right: 10px;
}

.founderCard-social a:hover svg {
      fill: #637faa;
}

.founderCard-social a:last-child {
      margin-right: 0;
}